.trending-card {
 padding: 0 10px;
}

.tc-inner-wrapper, .tc-content, .tc-banner {
    border-radius: 18px;
}

.tc-inner-wrapper {
    background: var(--text-gradient-1);
    padding: 2px;
}

.tc-content {
    background-color: var(--background);
    padding: 18px;
}

.tc-banner {
    width: 100%;
    max-width: 280px;    
}

.tc-user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 16px 0;
}

.tc-user-logo {
    width: 100%;
    max-width: 45px;
    height: 100%;
    max-height: 45px;
    border-radius: 8px;
    margin-right: 8px;
}

.tc-ui-left {
    display: flex;
    flex: 1;
}

.tc-ui-username {
    font-size: 16px;
    font-weight: 600;
}

.tc-ui-userhandle {
    font-size: 14px;
    opacity: 0.7;
}

.tc-ui-info-bottom {

}

.tc-ui-price {
    font-size: 12px;
    margin: 0 5px 0px 0px;
}

.tc-eth-logo {
    width: 100%;
    max-width: 20px;
}


@media screen and (max-width: 1133px) {
    .tc-content {
        background-color: var(--background);
        padding: 12px;
    }
}

@media screen and (max-width: 843px) {
    .tc-ui-username {
        font-size: 14px;
    }

    .tc-ui-userhandle {
        font-size: 12px;
    }

    .tc-ui-price {
        font-size: 10px;
        margin: 0 5px 0px 0px;
    }
}
