.info-item {
    flex-direction: column;
    text-align: center;
    margin: 0 28px;
}

.ii-icon {
    width: 100%;
    max-width: 52px;

}

.ii-title {
    font-size: 28px;
    font-weight: 600;
}

.ii-description {
    font-size: 16px;
}

.ii-description, .ii-title {
    margin-top: 18px;
}

@media screen and (max-width: 1000px) {

    .ii-title {
        font-size: 24px;
    }

    .ii-description {
        font-size: 14px;
    }

}

@media screen and (max-width: 900px) {
    .is-items-container {
        flex-direction: column;
        padding: 0 150px;
    }

    .info-item {
        margin: 12px 0;
    }
}

@media screen and (max-width: 750px) {
    .is-items-container {
        padding: 0 100px;
    }
}

@media screen and (max-width: 550px) {
    .is-items-container {
        padding: 0;
    }
    .is-heading {
        margin-bottom: 10px;
    }
}