.topfold {
    height: 92vh;
    overflow: hidden;
}

.tf-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 48px;
}

.tf-heading {
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
}

.tf-description {
    font-size: 20px;
    margin: 24px 0px;
}

.tf-left-btns {
    margin-top: 36px;
    display: flex;

}

.tf-left-secondary-btn {
    margin-left: 36px;
}

.tf-left-infoStats {
    display: flex;
    padding: 48px 0 0;
}

.tf-is-infoItem {
    margin-right: 24px;
    flex-direction: column;
}

.tf-infoItem-count {
    font-size: 36px;
    font-weight: 600;
}

.tf-infoItem-label {
    font-size: 14px;
    font-weight: 600;
}


.tf-r-bg-blob {
    height: 550px;
    width: 550px;
    background-color: var(--bg-blob);
    filter: blur(160.58px);
    position: absolute;
    z-index: -99;
    left: 20%;
    top: 10%;
    transform: translate(-50%);
}


.tf-right {
    display: flex;
    flex: 1;
    position: relative;
}

.tf-right-diamond {
    display: flex;
    flex-wrap: wrap;
    transform: rotate(45deg);
}

.tf-r-diamond-item {
    /* height: 280px;
    width: 280px; */
    overflow: hidden;
    transform: rotate(-45deg);
    cursor: pointer;
    border: 3px solid var(--white);
    border-radius: 12px;
    margin: 6px;
}

.tf-r-diamond-img {
    /* height: 100%; */
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (max-width:1420px) {
    .tf-r-diamond-item {
        /* height: 100%;
        width: 100%; */
        /* max-height: 250px;
        max-width: 250px; */
    }
}

@media screen and (max-width:1286px) {
    .tf-r-diamond-item {
        transform: none;
    }
    .tf-right-diamond {
        transform: none;
        justify-content: space-evenly;
    }
}


@media screen and (max-width:1167px) {
    .tf-r-diamond-item {
        max-height: 220px;
        max-width: 220px;
    }

    .topfold{
        height: auto;
        padding-bottom: 120px;
    }
}

/* 

@media screen and (max-width:1048px) {
    .tf-r-diamond-item {
        max-height: 200px;
        max-width: 200px;
    }
}

@media screen and (max-width:967px) {

    .tf-r-diamond-item { 
        max-width: 180px;
        max-width: 190px;
    }
}

@media screen and (max-width:927px) {
    .tf-r-diamond-item { 
        max-width: 150px;
        max-width: 150px;
    }

}

@media screen and (max-width:843px) {
    .tf-r-diamond-item {
        width: 170px;
        height: 170px;
    }
} */



@media screen and (max-width:750px) {
    /* .tf-right {
        display: none;
    }    */
    .topfold {
        width: 100%;
        flex-wrap: wrap;
    }
    
    .tf-right{
        width: 100%;
    }

    .tf-r-diamond-item {
        max-width: initial;
        max-height: initial;
        width: calc(50% - 19px);
    }

    .tf-left {
        width: 100%;
        padding: 0;
        margin-bottom: 60px;
        flex: initial;
    }

    .tf-left-infoStats {
        justify-content: space-evenly;
    }
    .tf-left-btns {
        justify-content: space-evenly;
    }
    
    .tf-right-diamond{
        justify-content: center;
    }
}

@media screen and (max-width:550px) {
    .topfold {
        margin-top: 62px;
    }
    .tf-left-infoStats {
        margin-bottom: 16px;
    }
}

@media screen and (max-width:500px) {
    
    .tf-heading {
        font-size: 48px;
        line-height: 48px;
    }

    .tf-description {
        font-size: 18px;
    }

    .tf-left-btns {
        margin-top: 16px;    
    }

    .tf-infoItem-count {
        font-size: 30px;
    }
    .tf-left-secondary-btn {
        margin-left: 10px;
    }
    .topfold {
        margin-top: 40px;
    }

}

@media screen and (max-width:375px) {

    .tf-left-infoStats {
        flex-direction: column;
    }
    .tf-is-infoItem {
        margin-right: 0;
    }
    .tf-infoItem-label {
        padding-bottom: 10px;
    }
    .tf-left-infoStats {
        padding: 20px 0 0;
    }
}
