.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.header-title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 0 0;
    letter-spacing: 6px;
}


@media screen and (max-width:550px) {

    .header-title {
        font-size: 30px;
    }

}